*,
*::before,
*::after {
    box-sizing: border-box;
}



/* Custom Properties, update these for your own design */
:root {
    --ff-primary: 'Lora', serif;
    --ff-secondary: 'Roboto Slab', serif;
    
    --fw-reg: 400;
    --fw-bold: 700;
    
    --clr-light: #edf5e1;
    --clr-dark: #05386b;
    --clr-accent: #5cdb95;
    
    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;
    
    --bs: 0.25em 0.25em 0.75em rgba(0,0,0,.25),
          0.125em 0.125em 0.25em rgba(0,0,0,.15);
}

@media (min-width: 800px) {
    :root {
        --fs-h1: 4.5rem;
        --fs-h2: 3.75rem;
        --fs-h3: 1.5rem;
        --fs-body: 1.125rem;
    }
}



/* General styles */
html {
    scroll-behavior: smooth;
}


body {
    background-color: var(--clr-light); /* Your background color in hex */
    background-image: url('/img/tribal1.jpeg'); /* Path to your overlay image */
    background-blend-mode: screen; /* Blend mode for the overlay image */
    background-size: 105%;
    background-position: center calc(0% - 5px); /* Shift the image up by 5 pixels */

    color: var(--clr-dark);
    margin: 0;
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    line-height: 1.6;
}

section {
    padding: 5em 2em;
}

img {
    display: block;
    max-width: 100%;
}

strong { font-weight: var(--fw-bold) }

:focus {
    outline: 3px solid var(--clr-accent);
    outline-offset: 3px;
}



/* Buttons */
.btn {
    display: inline-block;
    padding: .5em 2.5em;
    background: var(--clr-accent);
    color: var(--clr-dark);
    text-decoration: none;
    cursor: pointer;
    font-size: .8rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: var(--fw-bold);
    transition: transform 200ms ease-in-out;
}

.btn:hover {
    transform: scale(1.1);
}



/* Typography */
h1,
h2,
h3 {
    line-height: 1;
    margin: 0;
}

h1 { font-size: var(--fs-h1) }
h2 { font-size: var(--fs-h2) }
h3 { font-size: var(--fs-h3) }


.section__title {
    margin-bottom: .12em;
}

.section__title {
    font-weight: var(--fw-reg);
}

.section__title--intro strong {
    display: block;
}

.section__title--intro--home {
    font-weight: var(--fw-reg);
    padding-top: 50px;
}

.section__title--intro--home strong{
    display:block;
}

.section__subtitle {
    margin: 0;
    font-size: var(--fs-h3);
}

.section__subtitle--intro,
.section__subtitle--intro--portfolio,
.section__subtitle--about {
    background: var(--clr-accent);
    padding: .25em;
    font-family: var(--ff-secondary);
    margin-bottom: 1em;
}

.section__subtitle--work {
    color: var(--clr-accent);
    font-weight: var(--fw-bold);
    margin-bottom: 2em;
}



/* header */
header {
    display: flex;
    justify-content: space-between;
    padding: 1em;
}

.logo {
    max-width: 100px;
}

.nav {
    position: fixed;
    background: var(--clr-dark);
    color: var(--clr-light);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
    
    transform: translateX(100%);
    transition: transform 250ms cubic-bezier(.5, 0, .5, 1);
}

.nav__list {
    list-style: none;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 0;
    padding: 0;
}

.nav__link {
    color: inherit;
    font-weight: var(--fw-bold);
    font-size: var(--fs-h2);
    text-decoration: none;
}

.nav__link:hover {
    color: var(--clr-accent);
}

.nav-toggle {
    padding: .5em;
    background: transparent;
    border: 0;
    cursor: pointer;
    position: fixed;
    right: 1em;
    top: 1em;
    z-index: 1000;
}

.nav-open .nav {
    transform: translateX(0);
}

.nav-open .nav-toggle {
    position: fixed;
}

.nav-open .hamburger {
    transform: rotate(.625turn);
}

.nav-open .hamburger::before {
    transform: rotate(90deg) translateX(-8px);
}

.nav-open .hamburger::after {
    opacity: 0;
}

.hamburger {
    display: block;
    position: relative;
}

.hamburger,
.hamburger::before,
.hamburger::after {
    background: var(--clr-accent);
    width: 3em;
    height: 3px;
    border-radius: 3em;
    transition: transform 250ms ease-in-out;
}

.hamburger::before,
.hamburger::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
}

.hamburger::before { top: 8px; }
.hamburger::after { bottom: 8px; }



/*  Intro section  */
.intro {
    position: relative;
}

.intro__img {
    background-color: white;
    box-shadow: var(--bs);
    z-index: 0;
}

.section__subtitle--intro {
    display: inline-block;
    z-index: 2;
}

.section__subtitle--intro--portfolio{

    text-align: center;
    display: inline-block;
    z-index: 0;
}


@media (min-width: 600px) {
    .intro {
        display: grid;
        width: min-content;
        margin: 0 auto;
        grid-column-gap: 1em;
        grid-template-areas: 
            "img title"
            "img subtitle";
        grid-template-columns: min-content max-content;
    }
    
    .intro__img {
        grid-area: img;
        min-width: 250px;
        position: relative;
        z-index: 0;
    }    
    
    .section__subtitle--intro {
        align-self: start;
        grid-column: -1 / 1;
        grid-row: 2;
        text-align: right;
        position: relative;
        left: -1.5em;
        width: 100%;
    }
}


/* Mobile Device Stylings */
@media (max-width: 600px) {
    .section__title--intro--home {
        font-weight: var(--fw-reg);
        padding-top: 0px;
    }

    .intro{
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .intro__img{
        margin-left: auto;
        margin-right: auto;
        width: 150px;
    }

    .section__subtitle--intro {
        align-self: start;
        grid-column: -1 / 1;
        grid-row: 2;
        text-align: right;
        position: relative;
        left: -1.5em;
        width: 100%;
    }

    .about-me__img{
        margin-left:auto;
        margin-right: auto;
        width: 300px;
    }

    .portfolio-item-image{
        padding: 10px !important;
    }

    .portfolio-item-individual-horizontal {
        flex-direction: column; /* Stack items vertically */
        text-align: center; /* Center text and image */
    }

    .portfolio-item-text-horizontal {
        margin-right: 0; /* Remove right margin for text */
    }

    .portfolio-item-image-horizontal img{
        margin-left: auto;
    }

}



/*  My services section  */
.my-services {
    background-color: var(--clr-dark);
    background-image: url(../img/services-bg.jpg);
    background-size: cover;
    /* background-blend-mode: multiply; */
    color: var(--clr-light);
    text-align: center;
}

.section__title--services {
    color: var(--clr-accent);
    position: relative;
}

.section__title--services::after {
    content: '';
    display: block;
    width: 2em;
    height: 1px;
    margin: 0.5em auto 1em;
    background: var(--clr-light);
    opacity: 0.25;
}

.services {
    display: flex;
    justify-content: space-between;
    margin-bottom: 4em;
}

.service {
    width:30%;
    /* max-width: 700px;
    margin: 0 auto; */
    padding: 20px;
    box-sizing: border-box;

    border: 1px solid #ddd; /* Optional: Add border for each column */

}

/* Add mobile-friendly styles */
@media (max-width: 800px) {
    .services {
        flex-direction: column;
        align-items: center;
    }

    .service {
        width: 90%;
        flex: 1;
        margin: 0 0 20px;
    }
}


@media (min-width: 800px) {
    .services {
        display: flex;
        max-width: 1000px;
        margin-left: auto;
        margin-right: auto;
    }
    
    .service1 + .service1 {
        margin-left: 50px;
        margin-right:50px
    }
}



/* About me section */
.about-me {
    max-width: 1000px;
    margin: 0 auto;
}

.about-me__img {
    box-shadow: var(--bs);
}

@media (min-width: 600px) {
    .about-me {
        display: grid;
        grid-template-columns: 1fr 200px;
        grid-template-areas: 
            "title img"
            "subtitle img"
            "text img";
        grid-column-gap: 2em;
    }
    
    .section__title--about {
        grid-area: title;
    }
    
    .section__subtitle--about {
        grid-column: 1 / -1;
        grid-row: 2;
        position: relative;
        left: -1em;
        width: calc(100% + 2em);
        padding-left: 1em;
        padding-right: calc(200px + 4em);
    }
    
    .about-me__img {
        grid-area: img;
        position: relative;
        z-index: 2;
    }
}



/* My Work Section*/
.my-work {
    background-color: var(--clr-dark);
    color: var(--clr-light);
    text-align: center;    
}

.portfolio {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.portfolio__item {
    background: var(--clr-accent);
    overflow: hidden;
    border: var(--clr-dark);
    border-radius: 20px;
    border-width: 5px;
    border-style: solid;
}


.portfolio__img {
    transition: 
        transform 750ms cubic-bezier(.5, 0, .5, 1),
        opacity 250ms linear;
}

.portfolio__item {
    text-decoration: none;
    display: inline-block; 
    position: relative; /* Establish positioning context */
}

.portfolio__item:hover{
    border-color: var(--clr-light);
    box-shadow: 0px 0px 5px 1px var(--clr-light);
    z-index: 3;
}

.portfolio__item img {
    width: 100%; /* Make the image fill the width of its container */
    height: auto; /* Maintain the image's aspect ratio */
}

.portfolio__item:focus {
    position: relative;
    z-index: 2;
}


/*
.portfolio__img:hover,
.portfolio__item:focus .portfolio__img {
    transform: scale(1.2);
    opacity: .5;
}
*/

.portfolio_item_title{
    color: var(--clr-dark);
    padding:10px;
}


#bonsai {
    background-color: white;
}


/* Footer */
.footer {
    background: #111;
    color: var(--clr-accent);
    text-align: center;
    padding: 2.5em 0;
    font-size: var(--fs-h3);

}

.footer a { 
    color: inherit;
    text-decoration: none;
}

.footer__link {
    font-weight: var(--fw-bold);
}

.footer__link:hover,
.social-list__link:hover {
    opacity: .7;
}

.footer__link:hover {
    text-decoration: underline;
}

.social-list {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 2em 0 0;
    padding: 0;
}

.social-list__item {
    margin: 0 .5em;
}

.social-list__link {
    padding: .5em;
}



/* Individual portfolio item styles */
.portfolio-item-individual-art{
    padding-top: 2em;
    max-width: 1000px;
    margin: 0 auto;
    color: var(--clr-light)
}

.portfolio-item-individual-art > p{
    text-align: center;
    color: var(--clr-light)
}

.portfolio-item-individual{
    padding: 0 2em 2em;
    max-width: 1000px;
    margin: 0 auto;
}

.portfolio-item-text-horizontal{
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    color: var(--clr-light)
}

.portfolio-item-individual-horizontal p {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    color: var(--clr-light)
}

.portfolio_item_image_container{
    display: flex;
}

.portfolio-item-image{
    width: 33.33%;
    box-sizing: border-box;
    padding: 50px;
}

.portfolio-item-individual > p{
    padding-bottom: 40px;
    color: var(--clr-light)
}

.portfolio-item-background{
    background-color: var(--clr-dark);
    padding-bottom: 30px;
}

.portfolio-item-individual-horizontal {
    display: flex;
    align-items: center;
    padding: 20px;
}

.portfolio-item-individual-horizontal a{
    color: var(--clr-accent);
}


.portfolio-item-text-horizontal {
    flex: 1;
    margin-right: 20px;
}

.portfolio-item-image-horizontal {
    max-width: 400px;
    margin: 0 auto;
}



/* Artwork */
.art-piece{
    text-align: center;
    margin-top: 50px;
    color: #5cdb95;
}

.art-piece-last-item{
    margin-bottom: 0;
}



/* Resume */
embed{
    width: 100%;
    height: 100vh; /* 100% of the viewport height */
    display: block;
}

/* Add mobile-friendly styles */
@media (max-width: 800px) {
    embed{
        width: 100%;
        height: 60vh;
    }

    .portfolio-item-background{
        padding-bottom: 120px;
        padding-top: 50px;
        margin-top: 0;
    }

    .background-color{
        margin:0;
    }

    .resume-container{
        height: 100vh;
    }

    .resume-background{
        background-color: #05386b;
        background-blend-mode: multiply;
    }

      
}
